@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
 

@font-face {
  font-family: Gidole-Regular;
  src: url(/Gidole-Regular.ttf);
}

/* The animation code */
@keyframes example {
  from {border-width: 0px;border:transparent;}
  to {border-width: 10px;border:transparent;}
}

html,
body {
  background: rgb(20, 15, 15);
  padding: 0;
  margin: 0;
  font-family: Gidole-Regular,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color:#222;
  }
}

.faddd h1{
  margin-bottom: 30px;
}  
.faddd{
  height: calc(100% - 100px) !important;
    display: grid;
    align-content: space-between;
  animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
  #container {
    width: 100vw;
    height: 100vh;
    background-color: #E2E2E2;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
  }
  #containerz {
    height: 100vh;
    background-color: #E2E2E2;
     border-radius: 7px;
    touch-action: none;
    position: relative;
  }
 
  
  .itemee:hover{
   /* animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;*/
  }
  .itemee {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    
  }
  .itemee p{
    text-align: center;
  }

  #item:active {
    background-color: rgba(168, 218, 220, 1.00);
  }
  #item:hover {
    cursor: pointer;
  }
  
  #item2:active {
    background-color: rgba(168, 218, 220, 1.00);
  }
  #item2:hover {
    cursor: pointer;
  }
  #outerContainer{
    display: flex
  }

  .gridLay{
    display: grid;
    width: 100vw;
    grid-template-columns: 38% auto;
    padding-left: 15px;
    gap:100px;
    position: absolute;
    top: 0px;
  }

  p{
    
  }


  .fotters{
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap:10px
  }

  .fottersItems{
    display: flex;
    align-items: flex-end;
    gap: 26px;
  }

  .fottersMobile{
    
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 8px;
  }

  .fottersMobileItems{
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }

  

  .bLink button{
    border: 1px solid;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .Size20{
    font-size: 20px;
  }
  .boxRender p{
    margin-bottom: 20px;
  }
  strong{
  }



  .snewScroll::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
  pointer-events: none;
}

.snewScroll::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
  pointer-events: none;
}

.shadowns {
  height: 40px;
  background-color: #e6e6e5a3;
  position: relative;
  bottom: 36px;
  backdrop-filter: blur(5px);
}

div::-webkit-scrollbar{
  display: none;
}

.ytnt{
 /* -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;*/
}
.onlytxt{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.itemee:hover::after {
  content: " ";
    display: block;
    /* background: #c00; */
    height: 100%;
    width: 100%;
    background-image: url(/gif/sot-logo.gif);
    background-size: cover;
    transform: scale(1.18);
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards

  
}
input{
  background: transparent;
  width: '100%';
}

*:focus {
  outline: none;
}

input:active{
  background: transparent;
  border: none;
}
.formm p{
  color: #9e9e9e;
}
.formm div{
  padding: 5px;
}
.testacio{
  animation: mymove 1s infinite;
  
}
.specialP{
  /*animation: mymove 5s infinite;*/
  transform: opacity(0.20)
    
}

.testacio:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

@keyframes mymove {
  0% {scale:1;opacity: 1;}
  50%{scale:1.02;opacity: 0.7;}
  100% {scale:1;opacity: 1;}
  
} 

.feedback{
  font-size: 13px;
  color: red;
}